.kanban-board {
    padding: 20px;
    background-color: #ffffff;
    min-height: 100vh;  /* Pardon??? vh ne la. ekledim dursun */
}

.board-title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 36px;
}

.board-lists {
    display: flex;
    gap: 20px;  /* içindeki elemanların aralığı  yukarıdaki flex'le bunlar yan yana geldi. şimdi de yapışık olmasınlar diye 20px aralık ekledik */
    overflow-x: auto;  /* Tarayıcının içine ek yatay scroll ekler. Yani ölçek büyüdükçe aşağıya kaymaz artık */
    padding-bottom: 20px;
}