@font-face {
  font-family: 'SF Pro Text';
  src: url('../../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../../fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: 'SF Pro Text', sans-serif;
}

.kanban-board {
    padding: 20px;
    background-color: #000000;
    min-height: 100vh;  /* Pardon??? vh ne la. ekledim dursun */
    color:#ffffff;
}

.board-title {
    text-align: left;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 50px;
    line-height: 60px;
}

.board-lists {
    display: flex;
    gap: 16px;  /* içindeki elemanların aralığı  yukarıdaki flex'le bunlar yan yana geldi. şimdi de yapışık olmasınlar diye 20px aralık ekledik */
    /* overflow-x: auto;  Tarayıcının içine ek yatay scroll ekler. Yani ölçek büyüdükçe aşağıya kaymaz artık */
    padding-bottom: 20px;
}