.task-list {
    background-color: #262626;
    border-radius: 16px;
    padding: 24px;
    min-height: 404px;
    width: 100%;
    gap: 16px;
    /* angle: 0 deg;  Anlamadım */
    /* opacity: 1; */
 }

.task-list-header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: #262626;  
    border-radius: 16px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 37px;

}

/* .task-list-title{
    margin: 0;
    color: #ffffff;
    text-align: left;
    -webkit-text-stroke: 1px black;  Yazıya kontür yükledik :)
    width: 320px;
    height: 44px;

} */


.task-list-content {
    margin-bottom: 16px;
    width: 100%;
}

.empty-list {
    background-color: white;
    border: 2px dashed #dee2e6;
    border-radius: 8px;
    padding: 40px 20px; 
    text-align: center;
    color: #6c757d;
}

.btn-add-task {
    width: 100%;
    background-color: inherit;
    display: flex;
}

.btn-add-task:hover {
    background-color: #5a6268;
    border-radius: 20px;
}

.gorev-ekle{
    height: 50px;
    width: 100%;
    border-radius: 8px;
    border: transparent;
    background-color: transparent;
    font-size: 20px;
}
.gorev-ekle:focus {
    border: none;
    outline: none;
}

.button-text {
    font-size: 20px;
}