.task-card {
    background-color: var(--card-color);
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
    transition: all 0.1s;
    /* min-height: 150px; */
    color: white;
}

.task-card-padding-div {
    padding: 24px;
}


.task-header {
    justify-content: flex;  /* Flexible deyince title ile edit ve delete buton'ları tek satırda yapıştı. Bunun sayesinde butonlar gidebileceği kadar sağa uzaklaştı */
    width: 100%;
    height: 24px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    line-height: 150%;
    letter-spacing: 0%;
    font-family: SF Pro Text;
}
.task-card:hover {
    /* opacity: 0.8; */
    box-shadow: 0 0 0 2px var(--card-color); /* Border gibi görünür ama boyut değişmez */
    cursor: pointer;
}

.task-title {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    line-height: 150%;
}
/* 
leading-trim: NONE;
line-height: 150%;
letter-spacing: 0%; */

.menu-edit-input {
    display: flex;
    background-color: transparent;
    width: 100%;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 550;
    text-align: left;
    line-height: 150%;
}

.menu-edit-input:focus {
    outline: none;
    opacity: 0.5;
    border-radius: 8px;
}

.task-actions {
    display: flex;
    height: 100%;

}

.btn-edit {
    background-color: #28a745;
}

.btn-delete {
    background-color: #dc3545;
}

.task-description {
    margin: 8px 0;
}


.task-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.task-id {
    font-size: 12px;
}

.priority-high {
    background-color: white;
    color: var(--card-color);
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid white;
}

.priority-medium {
    background-color: #fff3e0;
    color: #f57c00;
    padding: 2px 8px;
    border-radius: 4px;
}

.priority-low {
    background-color: #e8f5e9;
    color: #388e3c;
    padding: 2px 8px;
    border-radius: 4px;
}
